uv
langgraph
langchain[aws]
langchain-community
dotenv
langsmith[otel]
opentelemetry-instrumentation-langchain
starlette
uvicorn
bedrock-agentcore<=0.1.5
bedrock-agentcore-starter-toolkit==0.1.14
duckduckgo-search
